{% extends "_base.html" %}

{% block content %}
<h1>{{ data }}</h1>
<a class="btn btn-primary" href="{% url 'references:carrier-create' %}">Create</a>
<hr>
<ul class="card-list">
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert  alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
            <strong>Hi!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

{% for carrier in object_list %}
    <li>
        <div class="card">
            <img src="{{ carrier.logo.url }}" class="card-img-top" alt="logo">
            <div class="card-body">
                <h5 class="card-title">{{ carrier.name }}</h5>
                <p class="card-text">{{ carrier.delivery_text }}</p>

                <div class="btn-group btn-sm float-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info btn-sm">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" id="delete">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock content %}

{% block extra_script %}
<script>
//alert settings
$(document).on('click','#delete', function(){
    $.confirm({
        icon: 'fa fa-exclamation-triangle',
        theme: 'modern',
        closeIcon: true,
        animation: 'scale',
        type: 'red',
        content: 'Are you sure to delete this item ?',
        buttons: {
            'confirm': {
                text: 'Yes, Sure',
                btnClass: 'btn-primary',
                action: function(){
                    console.log('delete')
                }
            },
            cancel: function(){
                $.alert('you clicked on <strong>cancel</strong>');
            },
        }
    });
});
</script>
{% endblock extra_script %}