{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% block head %}
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
      {% block extra_head %}
      {% endblock %}
    {% endblock  %}
  </head>
  <body>
    {% block navbar %}
        {% include "_navbar.html" %}
    {% endblock navbar %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

  {% block footer %}
  {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
  {% endblock footer %}
  {% block extra_script %}{% endblock extra_script %}
  </body>
</html>